* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* body {
  font-family: "Geneva", sans-serif;
  font-weight: 90;
  font-size: 12px;
  line-height: 28px;
  color: ;
  background: ;
} */

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font:  14px "geneva", sans-serif;
}

#contact {
  background: white;
  padding: 25px;
  margin: 150px 0;

}


fieldset {
  border: medium;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #E9E9E9;
  background: #E9E9E9;
  margin: 0 0 5px;
  padding: 10px;
}



#contact textarea {
  height: 250px;
  max-width: 100%;
  resize: none;
  background: #E9E9E9;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #386444;
  color: #f5f7f7;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
