


.toptext{
  color: green;
  font-size: 2rem;
 margin-right: 30px;
 padding-left: 1px;


}
.headtxt{
  font-family: geneva;
  font-size: 20px;
}
.ft-green{
  color: green;
}
.ft-white{
 color: white;
}
.yup{
  text-align: center;
  color: darkgreen;
}

.img{
  border-radius: 20px;
  margin-top: 10px;
}
hr{
  height: 100%;
  background-color: darkgreen;
  width: 100%;


}
.row two{
  text-align: center;
  padding: 15px;
}
.logohead{
  text-align: center;
  color: darkgreen;
  padding: 5px;

  font-size: 35px;
}
.carousel-inner{
  padding: 10px;
  width: auto;
  height: 500px;;
}
.col-sm{
width: 50px;
height: 400px;
background-color: darkgreen;
border: 2px solid black;
margin-right: 2px;
margin-top: 2px;
border-radius: 20px;
text-align: center;
color: white;
margin: 2%;
padding: 5px;


.photo{
  text-align: center;
  margin-top: 5px;
  color: green;
}


@media (min-width:576px){
.container{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
row {
  display: flex;
}

.column {
  flex: 100%;
  padding: 5px;
}
.two{
float: right;
}


}
