hr{
  height: 100%;
  background-color: green;
  width: 100%;

}
.row two{
  text-align: center;
  padding: 15px;
}
.logohead{
  text-align: center;
  padding: 5px;

  font-size: 25px;
}
.carousel-inner{
  padding: 10px;
  width: auto;
  height: 300px;;
}
.col-sm{
  padding: 10px;
  text-align: center;
}
.description{
  border: 0px;
}
.photo{
  text-align: center;
  margin-top: 5px;
}
.yup{
  text-align: center;
}

@media (min-width:576px){
.container{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
row {
  display: flex;
}

.column {
  flex: 100%;
  padding: 5px;
}
.two{
float: right;
}


}
