@import "variables";

.gallery-block {
  padding-top: 60px;
  padding-bottom: 60px;

  .cards-gallery .card {
    transition: 0.4s easy;
    margin-bottom: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

    img {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    }
  }

  .navbar-dark .navbar-toggler {
    border-color: none !important;
  }

  .cards-gallery {
    a {
      color: #212529;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
// HOME PAGE SCSS
body {
  font-family: $fonts-text;
}

.maintitle {
  color: $darkgreen;
  padding-left: 30px;
  font-size: 1.5rem;
  padding-top: 5px;
}

.grey-bar {
  background-color: $charcoalgrey;
  width: 100%;
  height: 60px;
}

.wwd {
  color: $lightgreen;
  font-size: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

p {
  font-size: 1rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.top-banner {
  color: $offwhite;
  text-align: center;
  background-color: $darkgreen;
  border: 5px solid $lightgreen;
  width: 90%;
  margin: 0 auto;
  padding-top: 3px;
}

h4 {
  font-size: 1.2rem;
}

.card {
  background-color: $darkgreen;
  width: 75%;
  margin: 0 auto;
}

.card-img-top {
  width: 75%;
  margin-left: 12%;
  margin-top: 10%;
}

.card-body {
  margin: 0 auto;
}

.bottom-banner {
  background-color: $darkgreen;
  color: $offwhite;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  border: 5px solid $lightgreen;
  padding-top: 3px;
}

.btn,
.btn-primary {
  font-size: 1.2rem;
  background-color: $darkgreen;
  border: 5px solid $lightgreen;
  width: 200px;
}

a.btn:hover {
  background-color: $lightgreen;
  border: 5px solid $offwhite;
}

.img-footer {
  margin-left: 15%;
  margin-right: 20%;
}

.fcb {
  font-family: $fonts-text;

  .container-fluid {
    text-align: center;
  }

  .ft-green {
    color: $lightgreen;
    margin: 0 0 10px;
  }

  .ft-white {
    color: $offwhite;
    margin: 0 0 5px;
  }
}
@media all and (min-width: 950px) {
  .gallery-block .transform-on-hover:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15) !important;
  }

  .maintitle,
  .wwd {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  .top-banner {
    width: 96%;
  }

  .btn,
  .btn-primary {
    font-size: 1.2rem;
  }

  .card-deck {
    padding-left: 30px;
    padding-right: 30px;
  }

  .desktop-banner {
    width: 100%;
    height: 20px;
    background-color: $lightgreen;
  }

  .bottom-banner {
    width: 30.5%;
  }
}
