.gallery-block{
    padding-top:60px;
    padding-bottom: 60px;
.cards-gallery .card{
    transition: 0.4s easy;
    margin-bottom: 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

    img{
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
}

.navbar-dark .navbar-toggler {
  border-color: none !important;
}

.cards-gallery{
  a {
    color:#212529;
}

a:hover {
    text-decoration: none;
}
}
}

// HOME PAGE SCSS
h3 {
  font-family: Geneva;
  color: pink;
}
.grey-bar {
  background-color: #343433;
  width: 100%;
  height: 60px;
}

h2, p {
  font-family: Geneva;
  margin: 0 auto;
  padding-left: 30px;
  padding-top: 10px;
}

.top-banner {
  font-family: Geneva;
  color: #f5f7f7;
  text-align: center;
  background-color: #386444;
  border: 5px solid #7aa18d;
  width: 90%;
  margin: 0 auto;
}
.card {
  background-color: #386444;
  width: 75%;
  margin: 0 auto;
}

.card-img-top {
width: 75%;
margin-left:12%;
margin-top: 10%;
}

.card-body {
  margin: 0 auto;
}

.bottom-banner {
  font-family: Geneva;
  background-color: #386444;
  color: #f5f7f7;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 10px solid #7aa18d;
  padding-top: 3px;

}

.btn, .btn-primary {
font: Geneva;
font-size: 1.5rem;
background-color: #386444;
border: 5px solid #7aa18d;
width: 200px;
}
.img-footer {
  margin-left: 15%;
  margin-right: 20%;
}

.ft-green {
  color: #17aa8d;
  font-family: Geneva;
  text-align: center;
  margin: 0 0 10px 0;

}

.ft-white {
    color: #f5f7f7;
    text-align: center;
    margin: 0 0 5px 0;
}


@media (min-width:576px) {
.gallery-block .transform-on-hover:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
}

}
